<%include ./public/head%>
<%include ./public/header%>
<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <article>
                <div class="h6">
                    <button class="btn btn-primary btn-xs">原创</button>
                    这个地方是文章标题
                </div>
                <span class="small"><kbd>2016-5-4</kbd></span>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                </div>
            </article>
            <hr>
            <article>
                <div class="h6">
                    <button class="btn btn-primary btn-xs">翻译</button>
                    这个地方是文章标题
                </div>
                <span class="small"><kbd>2016-5-4</kbd></span>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                </div>
            </article>
            <hr>
            <article>
                <div class="h6">
                    <button class="btn btn-primary btn-xs">精选</button>
                    这个地方是文章标题
                </div>
                <span class="small"><kbd>2016-5-4</kbd></span>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium beatae culpa, delectus ducimus earum fugit itaque iure magnam magni nemo neque nihil obcaecati quaerat quam suscipit tenetur? Ducimus, sed!
                </div>
            </article>
        </div>
        <%include ./public/side%>
    </div>
</div>



<script src="/js/index.js"></script>
<%include ./public/footer%>
