<% include ./public/head.ejs %>
<%include ./public/header.ejs %>

<div class="container">
    <div class="row">
        <div class="col-xs-9">
            <article data-id="<%= data['_id'] %>">
                <div class="h6" style="white-space: nowrap;">
                    <button class="btn btn-primary btn-xs">原创</button>
                    <%= data['postTitle']%>
                </div>
                <span class="small"><kbd><%= data['postCreateAt']%></kbd></span>
                <div class="content">
                    <%- data['postContent']%>
                </div>
            </article>
        </div>
        <%include ./public/side.ejs%>
    </div>
</div>
<script src="/js/post.js"></script>
<% include ./public/foot.ejs %>
