<%include ./public/head.ejs %>
<%include ./public/header.ejs %>
<div class="container-fluid">
    <div class="login-screen">
        <form class="login-form col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <label class="login-field-icon fui-user" for="register-name">用户名</label>
                <input type="text" class="form-control login-field j_username" value="" placeholder="Enter your name" id="register-name">
            </div>
            <div class="form-group">
                <label class="login-field-icon fui-mail" for="register-email">邮箱</label>
                <input type="text" class="form-control login-field j_email" value="" placeholder="Enter your email" id="register-email">
            </div>
            <div class="form-group">
                <label class="login-field-icon fui-lock" for="register-pass">密码</label>
                <input type="password" class="form-control login-field j_password" value="" placeholder="Password" id="register-pass">
            </div>
            <button class="btn btn-primary btn-lg btn-block j_register" href="#">马上注册！</button>
            <a class="login-link" href="/login">登录</a>
        </form>
    </div>
</div>

<script src="/js/register.js"></script>
<%include ./public/foot.ejs %>
