<% include ./public/head.ejs %>
<%include ./public/header.ejs %>
<div class="container">
     <div class="row">
         <div class="col-xs-9">
             <%for(var i=0;i<3;i++){%>
             <div class="col-xs-4">
                 <div class="tile">
                     <img class="tile-image big-illustration" alt="" src="images/illustrations/compass.png">
                     <h3 class="tile-title">Web Oriented</h3>
                     <p>100% convertable to HTML/CSS layout.</p>
                     <a class="btn btn-primary btn-large btn-block" href="#">Get Pro</a>
                 </div>
             </div>
             <%}%>
         </div>
         <%include ./public/side.ejs %>
     </div>
</div>
<% include ./public/foot.ejs %>
