<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                Powered by Express made by Xheldon
            </div>
        </div>
    </div>
</footer>
<script src="/js/main.js"></script>
</body>
</html>