<!DOCTYPE html>
<html>
<head>
    <% if(typeof title != 'undefined'){ %>
        <title><%= title %></title>
    <% }else{ %>
        <title>not-public-header</title>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>