<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Xheldon's New Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#fakelink">Products</a></li>
                <li><a href="#fakelink">Features</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <%if(user.login === true){%>
                <li><a href="/users/<%= user.id%>" class="navbar-link"><%= user.username%></a></li>
                <%}%>
                <li><a href="/post-new"><button type="button" class="btn btn-default navbar-btn btn-xs">写文章</button></a></li>
                <li class="j_logout" <%if(user.login === true){%>style="display: block;"<%}else{%> style="display: none"<%}%>><a><button type="button" class="btn btn-default navbar-btn btn-xs">退出</button></a></li>
                <li class="j_login" <%if(user.login === true){%>style="display: none;"<%}else{%> style="display: block"<%}%>><a href="/login" target="_self"><button type="button" class="btn btn-default navbar-btn btn-xs">登录</button></a></li>
            </ul>
        </div>
    </div>
</nav>
