<div class="col-xs-3">
    <div class="tile">
        <img src="/images/express.png" class="tile-image big-illustration">
        <h3 class="tile-title">由Express驱动</h3>
        <p>本网站由基于Node的Express为基础,结合MongoDB/Monk/ejs/co等模块构建而成</p>
        <a class="btn btn-primary btn-large btn-block" href="http://xheldon.com">访问网站</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">最近更新</h3>
        </div>
        <div class="panel-body">
            <blockquote>
                其实,我不想更新
            </blockquote>
        </div>

        <ul class="list-group">
            <li class="list-group-item">我选择死亡</li>
            <li class="list-group-item">只有你能听到我的话,召唤师</li>
            <li class="list-group-item">要来一杯吗?</li>
            <li class="list-group-item">Feeling Blue</li>
            <li class="list-group-item">我将带头冲锋!</li>
        </ul>
    </div>
</div>